.menu-flex a.active{
    color: white
}

.ferra{
    max-width: 80px;
}

#menu-desk{
    display: flex
}

#menu-mob{
    display: none;
    justify-content: center;
    padding-left: 0;
    list-style: none
}

#menu-mob ul li{
    list-style: none
}

#open-menu{
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 10px
}

#open-menu span{
    display: block;
    height: 6px;
}

#menu-mob-fload{
    position: fixed;
    background-color: rgba(230, 33, 63, 0.95);
    min-width: 320px;
    width: 20%;
    z-index: 99;
    height: 100vh;
    top: 0;
    left: 0; 
    transition: 1s
}
#menu-mob-fload ul{
    margin-top: 40px
}
#menu-mob-fload ul li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px
}
.fecharMenu{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
#menu-mob-fload.sair{
    transform: translateX(-100%);
}
#menu-mob-fload.ficar{
    transform: translateX(0%);
}
@media screen and (max-width: 798px){

    #menu-desk{
        display: none
    }
    
    #menu-mob{
        display: flex
    }
    #menu-mob li span{
        display: block;
        height: 0;
        margin-bottom: 5px;
    }
    #menu-mob li{
        list-style: none;
        margin-top: 10px
    }
    #menu-mob li.logotipo{
        margin-top: 0
    }

}