.flex-center{
    display: flex;
    justify-content: center
}
.flex-center > *{
    align-self: center
}
video{
    width: 50%;
    height: auto; 
    margin: auto
}

.item-port{
    text-emphasis: center;
}
